<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <%= image_tag 'logo-white.png', title: "Logo Payment", alt: "Payment Logo", class: "bi me-2", heght: "32", width: "40" %>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><%= link_to 'Home', root_path, class: 'nav-link px-2 text-secondary' %></li>
        <li><%= link_to 'Features', root_path, class: 'nav-link px-2 text-white' %></li>
        <li><%= link_to 'Pricing', root_path, class: 'nav-link px-2 text-white' %></li>
        <li><%= link_to 'FAQs', root_path, class: 'nav-link px-2 text-white' %></li>
        <li><%= link_to 'About', root_path, class: 'nav-link px-2 text-white' %></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <% if user_signed_in? %>
          <div class="dropdown">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="<%= edit_user_registration_path %>">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= button_to 'Sign out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, title: "Sign out", alt: "Logout", class: "dropdown-item" %></li>
            </ul>
          </div>
        <% else %>
          <%= link_to 'Sign in', new_user_session_path, class: "btn btn-outline-light me-2" %>
          <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-warning" %>
        <% end %>
      </div>
    </div>
  </div>
</header>